snippet ghi "GitHub issue link"
\`#${1} <https://github.com/${2:nengo}/${3:nengo}/issues/$1>\`_
endsnippet

snippet ghp "GitHub PR link"
\`#${1} <https://github.com/${2:nengo}/${3:nengo}/pull/$1>\`_
endsnippet
